version: "3.8"

name: volunteer-backend-dev
services:
  dev-app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "4000:4000"
    volumes:
      - ./src:/app/src
      - ./package.json:/app/package.json
      - ./tsconfig.json:/app/tsconfig.json
      - ./nest-cli.json:/app/nest-cli.json
      # Убираем монтирование node_modules для решения проблемы с bcrypt
      # - ./node_modules:/app/node_modules
    depends_on:
      dev-db:
        condition: service_healthy
    networks:
      - dev-app-network
    env_file:
      - .env.development
    restart: unless-stopped
  dev-db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg_dev_data:/var/lib/postgresql/data
    networks:
      - dev-app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
  minio:
    image: minio/minio:latest
    restart: always
    env_file:
      - .env.development
    ports:
      - ${MINIO_PORT}:9000
      - ${MINIO_CONSOLE_PORT}:9001
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    networks:
      - dev-app-network

networks:
  dev-app-network:
    driver: bridge

volumes:
  pg_dev_data:
    driver: local
  minio-data:
    driver: local
